{% extends 'layout.html.twig' %}

{% block title %}
    New - {{ parent() }}
{% endblock title %}

{% block content %}
    <h1>Ticket creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        Message : <input type="text" name="content">
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('ticket_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
