{% extends 'layout.html.twig' %}

{% block title %}
    {{ ticket.title }} - {{ parent() }}
{% endblock title %}

{% block content %}
    <a href="{{ path('ticket_index') }}">Back to the list</a>
    {% if is_granted("ROLE_ADMIN") %}| <a href="{{ path('ticket_edit', { 'id': ticket.id }) }}">Edit</a> <br>
        <br>
        {{ form_start(delete_form) }}
        <input type="submit" value="Delete this ticket">
        {{ form_end(delete_form) }}
    {% endif %}

    <div class="ticket">
        <span class="tTitle">{{ ticket.title }}</span>
        Le<span class="tCreated"> {{ ticket.created|date('d/m/Y à H:i') }}</span>
         par <span class="tAuthor">  {{ ticket.author }}</span><br>
        <br>
        {% if ticket.updated is not empty %}
            <span class="tUpdated">Modifié le {{ ticket.updated|date('d/m/Y à H:i') }}</span>
        {% endif %}
    </div>

{% for comment in comments %}
    <div class="comment">
        Le<span class="cCreated"> {{ comment.created|date('d/m/Y à H:i') }}</span>
        par <span class="cAuthor">  {{ comment.author }}</span> {% if is_granted("ROLE_ADMIN") %}| <a href="{{ path('comment_show', { 'id': comment.id }) }}">Edit</a>{% endif %}<br>
        <br>
        <span class="cContent">{{ comment.content }}</span><br>
        <br>
        {% if ticket.updated is not empty %}
            <span class="cUpdated">Modifié le {{ comment.updated|date('d/m/Y à H:i') }}</span>
        {% endif %}
    </div>
{% endfor %}

    <ul>
        <li>
            <a href="{{ path('comment_new', { 'id': ticket.id }) }}">Create a new comment</a>
        </li>
    </ul>
{% endblock %}

