{% extends 'TicketsBundle::layout.html.twig' %}

{% block title %}
    Show {{ ticket.title }} - {{ parent() }}
{% endblock title %}

{% block content %}
    <a href="{{ path('ticket_index') }}">Back to the list</a> | <a href="{{ path('ticket_edit', { 'id': ticket.id }) }}">Edit</a> <br>
    <br>
    {{ form_start(delete_form) }}
    <input type="submit" value="Delete this ticket">
    {{ form_end(delete_form) }}

    <div class="ticket">
        <span class="tTitle">{{ ticket.title }}</span>
        Le<span class="tCreated"> {{ ticket.created|date('d/m/Y à H:i') }}</span>
         par <span class="tAuthor">  {{ ticket.author }}</span><br>
        <br>
        <span class="tContent">{{ ticket.content }}</span><br>
        <br>
        {% if ticket.updated is not empty %}
            <span class="tUpdated">Modifié le {{ ticket.updated|date('d/m/Y à H:i') }}</span>
        {% endif %}
    </div>

    <h1>Comments list</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Idticket</th>
            <th>Content</th>
            <th>Author</th>
            <th>Created</th>
            <th>Updated</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td><a href="{{ path('comment_show', { 'id': comment.id }) }}">{{ comment.id }}</a></td>
                <td>{{ comment.idTicket }}</td>
                <td>{{ comment.content }}</td>
                <td>{{ comment.author }}</td>
                <td>{{ comment.created|date('d/m/Y à H:i') }}</td>
                {% if comment.updated is not empty %}
                <td>{{ comment.updated|date('d/m/Y à H:i') }}</td>
                {% endif %}
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('comment_show', { 'id': comment.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('comment_edit', { 'id': comment.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('comment_new', { 'id': ticket.id }) }}">Create a new comment</a>
        </li>
    </ul>
{% endblock %}
