{% extends 'TicketsBundle::layout.html.twig' %}

{% block title %}
    Show - {{ parent() }}
{% endblock title %}

{% block content %}

    <div class="ticket">
        Le<span class="tCreated"> {{ comment.created|date('d/m/Y à H:i') }}</span>
        par <span class="tAuthor">  {{ comment.author }}</span><br>
        <br>
        <span class="tContent">{{ comment.content }}</span><br>
        <br>
        {% if comment.updated is not empty %}
            <span class="tUpdated">Modifié le {{ comment.updated|date('d/m/Y à H:i') }}</span>
        {% endif %}
    </div>

    <ul align="center">
        <li>
            <a href="{{ path('ticket_index') }}">Back to the list of tickets</a>
        </li>
        <li>
            <a href="{{ path('comment_edit', { 'id': comment.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
